
<%= render "shared/nav" %>

<u><h1>About Move Atlas</h1></u>
Welcome to your Move Atlas <%= current_user.username %> ! This website is designed to help anyone planning on using any rental vehicle. You never know what they could be
holding from the previous renter. It isn't designed to place blame on anyone or any company. It's sole purpose is
help guide the mover to safe vehicle. If you are in the websites early stages then help be a guide for all of your fellow 
movers. Log your vehicle and review it. You may even use it as a personal log to use as a reference for family and friends.
No personal information will be shared. Only vehicle information. So I hope you find the information you seek. 
Remember to always check your rental vehicles, hotel rooms, new apartments, etc. for any sign of any pest. I wish you 
well and you can navigate your atlas above.








        