<%=render "shared/nav"%>

<h1> Highest Rated Vehicles </h1>

<ol><% @highest_rated.each do |review|%>
  
 <li><%=link_to review.vehicle.plate_number, vehicle_path(review.vehicle) %>
   <%end%>

